*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
.contenedor{
    background-image: url("../IMG/colorcel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_adentro{
    width: 50%;
    height: 100%;
    background-color: rgba(167, 88, 167, 0.582);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

   
}
.bienvenido{
    margin-top: 5%;
    color: white;
}
.btnlogin{
    width: 60%;
    border-radius: 30px;
    margin: auto;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: white;
    background-color: palevioletred;
}
.usuario{
    margin-top: 5%;
}
.contraseña{
    margin-top: 5%;
}
form{
    display: grid;
    text-align: center;
    margin: auto;
}
input{
    padding-left: 5%;
    width: 100%;
    height: 30px;
}
.btnlogin{
    border: 1px solid pink;
}
.ojo{
    position: absolute;
    /* margin-left:17%;
    margin-top: 9.5%; */
    right: 10px;
    top: 15px;
}
.caja{
    width: 7%;
}
.a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
.b{
    margin-top: 2%;
}
.c{
    padding-left: 2%;
}
p{
    padding-top: 5%;
    color: red;
    opacity: 0;
}

.papa{
    position: relative;
    /* border: solid 1px; */
}
